[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Conky Control RC
Comment=start conkyrc
Exec=sh -c "~/.scripts/Conky/conkyrc"
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

