[Desktop Entry]
Name=Pacman-Gui
GenericName=Pacman-Gui
Comment=A user-interface for pacman
Exec=pacman-gui
Terminal=false
Type=Application
Icon=pacman-gui
StartupNotify=false
Categories=System;Application;
